<li class="media-object well">
  <div class="book">
    <h3>
      <%= link_to book.title, book_path(book) %> 
    </h3>
    <div class="quiet">by <%= book.author %></div>
    <hr>
    <div class="text-center">
      <img class="small-cover" src="<%= book.cover_url %>">
    </div>
  </div>
</li>

