<li class="media-object well">
  <div class="book">
    <h3><%= book.title %> </h3>
    <div class="quiet"><%= book.author %></div>
    <hr>
    <div class="text-center">
      <img class="cover" src="<%= book.cover_url %>">
    </div>
  </div>
</li>


