@import "bootstrap-sprockets";
@import "bootstrap";

.book {
  margin: 10px;
  width: 156;
}

.mini-cover {
  margin: 4px;
  width: 76px;
}

.small-cover {
  width: 150px;
  height: 250px;
  cursor: pointer;
}

.big-cover {
  width: 240px;
  height: 400px;
}

.media-object {
  margin: 2px 8px 14px 8px;
}

.quiet {
  color: grey;
}