@import "bootstrap-sprockets";
@import "bootstrap";

.book {
  margin: 10px;
  width: 156;
}

.mini-book {
  margin: 4px;
  width: 76px;
}

.cover {
  width: 150px;
  height: 250px;
}

.media-object {
  margin: 2px 8px 14px 8px;
}